extends ../layout/common.layout.pug

block content
    main.form-signin
        form(autocomplete="off")
            h1.h3.mb-3.fw-normal Please sign in
            label.visually-hidden(for='inputEmail') Username
            input#inputEmail.form-control(type='text' placeholder='Username' required='' autofocus='')
            label.visually-hidden(for='inputPassword') Password
            input#inputPassword.form-control(type='password' placeholder='Password' required='')
            button.w-100.btn.btn-lg.btn-primary(type='submit') Sign in
    style.
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .form-signin .checkbox {
            font-weight: 400;
        }
        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }